
Test Sync/.vscode/settings.json
Test Sync/Packages/manifest.json
Test Sync/Packages/packages-lock.json
Test Sync/ProjectSettings/boot.config
Test Sync/ProjectSettings/MemorySettings.asset
Test Sync/ProjectSettings/ProjectSettings.asset
Test Sync/ProjectSettings/ProjectVersion.txt
